<?xml version="1.0"?>
<config>
    <modules>
        <Hhennes_AutoGroups>
            <version>0.1.0</version>
        </Hhennes_AutoGroups>
    </modules>
    <global>
        <blocks>
            <hhennes_autogroups>
                <class>Hhennes_AutoGroups_Block</class>
            </hhennes_autogroups>
        </blocks>
        <models>
            <hhennes_autogroups>
                <class>Hhennes_AutoGroups_Model</class>
                <resourceModel>autogroups_resource</resourceModel>
            </hhennes_autogroups>
            <!-- Bien mettre ce noeud en dehors du noeud modèle standard ! -->
            <autogroups_resource>
                <class>Hhennes_AutoGroups_Model_Resource</class>
                <entities>
                    <rule>
                        <table>hhennes_autogroups_rule</table>
                    </rule>
                </entities>
            </autogroups_resource>
        </models>
        <helpers>
            <hhennes_autogroups>
                <class>Hhennes_AutoGroups_Helper</class>
            </hhennes_autogroups>
        </helpers>
        <resources>
            <hhennesautogroups_setup>
                <setup>
                    <module>Hhennes_AutoGroups</module>
                    <class>Mage_Core_Model_Resource_Setup</class>
                </setup>
            </hhennesautogroups_setup>
        </resources>
    </global>
    <frontend>
        <events>
            <customer_register_success>
                <observers>
                    <hhennes_autogroups_register_success>
                        <class>hhennes_autogroups/observer</class>
                        <method>applyGroupRulesOnCustomerRegisterSuccess</method>
                    </hhennes_autogroups_register_success>
                </observers>
            </customer_register_success>
            <checkout_submit_all_after>
                <observers>
                    <hhennes_autogroups_checkout_submit>
                        <class>hhennes_autogroups/observer</class>
                        <method>applyGroupRulesOnCheckout</method>
                    </hhennes_autogroups_checkout_submit>
                </observers>
            </checkout_submit_all_after>
        </events>
        <routers>
            <hhennes_autogroups>
                <use>standard</use>
                <args>
                    <module>Hhennes_AutoGroups</module>
                    <frontName>hhennes_autogroups</frontName>
                </args>
            </hhennes_autogroups>
        </routers>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Hhennes_Autogroups after="Mage_Adminhtml">Hhennes_AutoGroups_Adminhtml</Hhennes_Autogroups>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>

    <!--
        Si ce noeud n'était pas dans le fichier de configuration ça ne fonctionnait pas... va savoir pourquoi
        Mais il était pourtant bien dans le fichier adminhtml ( Idem pour les trads, à priori il faut les mettre ici )
    -->
    <adminhtml>
        <layout>
            <updates>
                <hhennes_autogroups>
                    <file>hhennes_autogroups.xml</file>
                </hhennes_autogroups>
            </updates>
        </layout>
    </adminhtml>
</config>
